{% extends "admin_base.html" %}

{% block content %}

<h2>Contact Messages</h2>

<table class="table table-bordered table-hover">

<thead>

<tr>

<th>Name</th>

<th>Email</th>

<th>Subject</th>

<th>Date</th>

<th>Action</th>

</tr>

</thead>

<tbody>

{% for c in contacts %}

<tr>

<td>{{ c.name }}</td>

<td>{{ c.email }}</td>

<td>{{ c.subject }}</td>

<td>{{ c.created_at.strftime("%d-%m-%Y") }}</td>

<td>

<a
href="{{ url_for('view_contact',id=c._id) }}"
class="btn btn-primary btn-sm">

View

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}