{% extends "admin_base.html" %}

{% block title %}Edit Package{% endblock %}

{% block content %}

<div class="container mt-5">

<h2>Edit Package</h2>

<form
method="POST"
enctype="multipart/form-data">

<div class="mb-3">
<input
    class="form-control"
    name="name"
    value="{{ package.name }}"
    required>
</div>

<div class="mb-3">
<input
    class="form-control"
    name="location"
    value="{{ package.location }}"
    required>
</div>

<div class="mb-3">
<input
    class="form-control"
    name="duration"
    value="{{ package.duration }}"
    required>
</div>

<div class="mb-3">
<input
    class="form-control"
    type="number"
    name="price"
    value="{{ package.price }}"
    required>
</div>

<div class="mb-3">
<input
    class="form-control"
    name="hotel"
    value="{{ package.hotel }}"
    placeholder="Hotel">
</div>

<div class="mb-3">
<input
    class="form-control"
    name="meals"
    value="{{ package.meals }}"
    placeholder="Meals">
</div>

<div class="mb-3">
<input
    class="form-control"
    name="guide"
    value="{{ package.guide }}"
    placeholder="Guide">
</div>

<div class="mb-3">
<label class="form-label">

Current Image

</label>

<br>

<img
src="{{ url_for('static',
filename='images/' + package.image) }}"
width="180"
class="mb-3">

<input
type="file"
class="form-control"
name="image"
accept="image/*">
</div>

<div class="mb-3">
<textarea class="form-control"
name="description"
rows="5"
placeholder="Description">{{ package.description }}</textarea>
</div>

<div class="mb-3">
    <label class="form-label">Itinerary</label>
<textarea
class="form-control"
name="itinerary"
rows="5">{% for item in package.itinerary %}{{ item }}
{% endfor %}</textarea>
</div>

<div class="mb-3">
    <label class="form-label">Included</label>
<textarea
class="form-control"
name="included"
rows="5">{% for item in package.included %}{{ item }}
{% endfor %}</textarea>
</div>

<div class="mb-3">
    <label class="form-label">Excluded</label>
<textarea
class="form-control"
name="excluded"
rows="5">{% for item in package.excluded %}{{ item }}
{% endfor %}</textarea>
</div>

<button class="btn btn-success">
Save Package
</button>

</form>

</div>

{% endblock %}